<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Series</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <h1 color = white>{{ post.nome }}</h1>
    </header>

    <div class="container">
        <img src = "{{ post.imagem_url }}" alt="{{ nome }}" class="imagem">
        <p>{{ post.descricao }}</p>
        <a href = "\">Voltar</a>
    </div>
    

</body>
</html>

